<% @vendors.each do |vendor| %>
  <strong><%= vendor.username %></strong>
  <ul>
    <li><%= vendor.email %></li>
    <li><%= vendor.market_id %></li>
    <li><%= vendor.description %></li>
  </ul>
  <hr>
<% end %>
