<form action="/vendors" method="post">
  <p>
  Username: <input type="text" name="vendor[username]" value="<%= @vendor.username %>"><br>

  Email: <input type="text" name="vendor[email]" value="<%= @vendor.email %>"><br>

  Description: <textarea name="vendor[description]" value="<%= @vendor.description %>"></textarea>

  <input type="submit" value="Sign Up">
</p>

</form>
