<h2>Viewing Vendor: <%= @vendor.username %></h2>

<ul>
  <li>Email: <%= @vendor.email %></li>
  <li>Description: <%= @vendor.description %></li>
  <li>Market: <%= link_to @vendor.market.name, show_market_path(@vendor.market.id) if @vendor.market != nil %></li>
</ul>
