<h2>Edit Market</h2>

<form action="<%= edit_markets_landing_path %>" method="POST">
  <table>
    <tr>
      <td><label for="market[id]">Select Market:</label></td>
      <td>
        <select name="market[id]">
          <% @markets.each do |market|  %>
            <option value="<%= market.id %>"><%= market.name %></option>
          <% end %>
        </select>
      </td>
    </tr>
  </table>
  <a href="<%= edit_vendor_path %>"><button type="button">Back</button></a>
  <input type="submit" value="Edit Market">
</form>
