<h2>Edit Market</h2>

<form action="<%= show_market_path(@market.id) %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <table>
    <tr>
      <td><label for="market[name]">Name:</label></td>
      <td><input type="text" name="market[name]" value="<%= @market.name %>"></td>
    </tr>
    <tr>
      <td><label for="market[location]">Location:</label></td>
      <td><input type="text" name="market[location]"value="<%= @market.location %>"></td>
    </tr>
  </table>
  <a href="<%= edit_markets_landing_path %>"><button type="button">Back</button></a>
  <input type="submit" value="Update">
</form>
