<h2>Edit Market</h2>

<form action="<%= show_market_path(@market.id) %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <label for="market[name]">Market Name:</label>
  <input type="text" name="market[name]" value="<%= @market.name %>"><br>
  <input type="hidden" name="market[id]" value="<%= @market.id %>"><br>
  <input type="submit" value="Update">
</form>
