<% @markets.each do |market| %>
  <strong><%= market.name %></strong>
  <ul>
    <li>City: </li>
    <li>State: </li>
    <li>Number of Vendors: <%= market.vendors.count %></li>
  </ul>
  <hr>
<% end %>
