<h2>View All Markets</h2>

<% @markets.each do |market| %>
  <strong><%= link_to market.name, show_market_path(market.id) %></strong>
  <ul>
    <li>Location: <%= market.location %></li>
    <li>Number of Vendors: <%= market.vendors.count %></li>
  </ul>
  <hr>
<% end %>
