<h2>New Market</h2>

<form method="POST" action="<%= new_market_path %>">
  <input type="text" name="market[name]">
  <a href="<%= edit_vendor_path %>"><button type="button">Back</button></a>
  <input type="submit" value="Add Market">
</form>
