<h2>Viewing Market: <%= @market.name %></h2>

<ul>
  <li>Location: <%= @market.location %></li>
  <li>Number of Vendors: <%= @market.vendors.count %></li>
  <li>Vendors at Market:</li>
  <ul>
    <% @market.vendors.each do |vendor|  %>
      <li><%= link_to vendor.username, show_vendor_path(vendor.id) %></li>
    <% end %>
  </ul>
</ul>
