/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #ffffff;
  font-family: "helvetica neue", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2aad06;
}

a:hover {
  color: #61e843;
}

#login {
  background-color: #343434;
  font-size: 1em;
  width:100%;
  margin: 0 auto;
  opacity: 0.9;
  padding: 1em 1em 1em 1em;
  line-height: 1.5em;

}

#login a {
  margin-left: 88%;
  color: #c8c8c8;
}

#login a:hover {
  color: #ffffff;
}

#main-nav {
  padding: 1em 1em 1em 1em;
}

#cow {
  width: 15%;
  float: left;
  margin: 1em 3em 2em 1em;
}

#main-links {
  float: left;
  margin-top: 6%;
  font-size: 1.7em;
}

form#search {
  float: right;
  margin-top: 6%;
  margin-right: 2%;
}

#wrapper {
  clear: both;
  width: 100%;
  opacity: 0.9;
  margin-top: 4em;
  background-color: #e5e5e5;
  padding: 1em 1em 1em 1em;
}

#content {
  font-family: "Lucida Grande";
  font-size: 1.2em;
  width: 80%;
  margin-left: 2em;
}

.big-letters {
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  font-size: 2.2em;
  color: #373737;
  text-align: center;
}

hr {
  display: block;
  border-top: 1px solid #adcfae;
}

ul {
  list-style-type: circle;
}

.buttons {
  margin-left: 2em;
}
