body {
  background-color: #ffffff;
  font-family: "helvetica neue", sans-serif;
  margin: 0;
  min-width: 850px;
}

a {
  text-decoration: none;
  color: #2aad06;
}

a:hover {
  color: #61e843;
}

#login {
  background-color: #343434;
  font-size: 1em;
  width:100%;
  height: 3em;
  margin: 0 auto;
  opacity: 0.9;
  padding: 1em 1em 1em 1em;
  line-height: 1.5em;
}

.notice, .alert {
  width: 20%;
  margin: 0.5em 0 0 0;
  float: left;
  font-style: italic;
  text-align: center;
  font-size: 1em;
  color: #fff;
}

.notice {
  background-color: #dbb4e6;
}

.alert {
  background-color: #ad062a;
}

#login #login-wrapper {
  float: right;
}

#login a {
  color: #c8c8c8;
  display: inline-block;
  width: 100%;
}

#login a:hover {
  color: #ffffff;
}

#main-nav {
  padding: 1em 1em 1em 1em;
}

#cow {
  width: 15%;
  float: left;
  margin: 1em 3em 2em 1em;
}

#main-links {
  float: left;
  margin-top: 6%;
  font-size: 1.7em;
}

form#search {
  float: right;
  margin-top: 6%;
  margin-right: 2%;
}

form#search input[type="text"] {
  width: 55%;
  border: 1px solid #e5e5e5;
}

#wrapper {
  clear: both;
  width: 100%;
  opacity: 0.9;
  margin-top: 4em;
  background-color: #e5e5e5;
  padding: 1em 1em 1em 1em;
  min-height: 25em;
}

#content {
  font-family: "Lucida Grande";
  font-size: 1.2em;
  width: 80%;
  margin-left: 2em;
}

.big-letters {
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  font-size: 2.2em;
  color: #373737;
  text-align: center;
}

hr {
  display: block;
  border-top: 1px solid #adcfae;
}

ul {
  /* list-style-type: circle; */
  list-style: none;
  padding: 0;
}

ul li:before {
    content: '\27A4';
    margin: 0 1em;
}

li {
  padding-bottom: 0.5em;
}

.buttons {
  /* margin-left: 2em; */
}

.left-col,
.right-col {
  padding: 1em;
}

.left-col {
  float: left;
}

.right-col {
  float: right;
  background-color: #c8c8c8;
}

.right-col ul li:before {
    content: '\2713';
}

.product-link-dashboard {
  width: 10em;
  display: inline-block;
}

/* --- Forms Styling --------------------------- */
form input[type="text"],
form input[type="password"],
form textarea {
  border: none;
  width: 30em;
}

form input,
form textarea {
  padding: 1em;
}

form textarea {
  resize: none;
  height: 7em;
}

form input[type="submit"],
button {
  border: none;
  margin-top: 1%;
  cursor: pointer;
}

button {
  padding: 1em;
}

form input[type="submit"]:hover,
button:hover {
  background-color: #2aad06;
  color: #fff;
}

td {
  padding-right: 2em;
}


/* --- Mobile Styling --------------------------- */

@media (max-width: 1075px) {
  form#search {
    float: left;
    margin-top: 15px;
  }
}
