<h2>Edit Product</h2>

<form action="/product/edit" method="POST">
  <p>
    Product Name: <input type="text" name="product[name]" value="<%= @product.name %>"><br>
    <input type="hidden" name="product[id]" value="<%= @product.id %>"><br>
    <input type="submit" value="Update">
  </p>
</form>
