<h2>Edit Product</h2>

<form action="/products/<%= @product.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <label for="product[name]">Product Name:</label>
  <input type="text" name="product[name]" value="<%= @product.name %>"><br>
  <a href="<%= dashboard_path %>"><button type="button">Back</button></a>
  <input type="submit" value="Update">
</form>
